{
  "root": true,
  "extends": ["@strv/react-native", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["app.config.ts"],
      "rules": {
        "import/extensions": "off",
        "id-length": "off",
        "import/no-default-export": "off"
      }
    }
  ]
}
