name: Create Release - DISABLE RULESET!

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Deployment Environment'
        required: true
        default: 'staging'
        type: choice
        options:
          - staging
          - production
      version_bump:
        description: 'Version Bump Type'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major
          - none
      action_type:
        description: 'Action Type'
        required: true
        type: choice
        default: 'build_and_submit'
        options:
          - build_and_submit
          - ota_update
          - build
      platform:
        description: 'Platform'
        required: true
        default: 'all'
        type: choice
        options:
          - all
          - ios
          - android

jobs:
  create-release:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Environment
        uses: ./.github/actions/setup
        with:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}

      - name: Version Management
        uses: ./.github/actions/version
        id: version
        with:
          version_bump: ${{ github.event.inputs.version_bump }}
          increment: ${{ github.event.inputs.action_type != 'build' }}

      - name: Increment build number and save it in env variable
        uses: ./.github/actions/increment-build-number
        id: build_number
        with:
          gh_token: ${{ secrets.GT_PAT }}
          current_build_number: ${{ vars.BUILD_NUMBER }}

      - name: Update eas.json
        uses: ./.github/actions/update-eas
        with:
          environment: ${{ github.event.inputs.environment }}
          version: ${{ steps.version.outputs.version }}
          build_number: ${{ steps.build_number.outputs.build_number }}
          vars: ${{ toJson(vars) }}

      # - name: Build Application
      #   if: github.event.inputs.action_type != 'ota_update'
      #   uses: ./.github/actions/build
      #   with:
      #     environment: ${{ github.event.inputs.environment }}
      #     platform: ${{ github.event.inputs.platform }}
      #     auto_submit: ${{ github.event.inputs.action_type == 'build_and_submit' }}

      # - name: OTA Release
      #   if: github.event.inputs.action_type == 'ota_update'
      #   uses: ./.github/actions/ota-update
      #   env: ${{ vars }}
      #   with:
      #     channel: ${{ github.event.inputs.environment }}
      #     version: ${{ steps.version.outputs.version }}
      #     build_number: ${{ steps.build_number.outputs.build_number }}

      - name: Revert eas.json changes
        if: always()
        run: |
          git restore eas.json

      - name: Generate Release Notes
        if: github.event.inputs.action_type != 'build' && github.event.inputs.version_bump != 'none'
        uses: ./.github/actions/release-notes
        with:
          version: ${{ steps.version.outputs.version }}
          gh_token: ${{ secrets.GT_PAT }}
